$_primary-iris: #4853CA;
$_primary-white: #FFFFFF;
$_secondary-jacarta: #35335A; 
$_secondary-rich-black: #030712;
$_secondary-indigo: #273A6A;
$_secondary-blue-label: #A4A7CE;

$text-primary: $_primary-white;
$text-secondary: $_secondary-blue-label;
$header-border-color: $_secondary-jacarta;
