$_primary-iris: #4853CA;
$_primary-white: #FFFFFF;
$_secondary-jacarta: #35335A; 
$_secondary-gunmetal: #302F43;
$_secondary-rich-black: #030712;
$_secondary-indigo: #273A6A;
$_secondary-blue-label: #A4A7CE;
$_secondary-davys-grey: #4F5159;
$_lavender-gray: #c3c5d9e3;

$text-primary: $_primary-white;
$text-secondary-1: $_secondary-blue-label;
$text-secondary-2: $_lavender-gray;

$header-border-color: $_secondary-jacarta;

$cta-bg: $_primary-iris;
$cta-border: $_primary-iris;
$cta-text: $_primary-white;

$button-secondary-bg: transparent;
$button-secondary-border: $_secondary-jacarta;
$button-secondary-text: $_primary-white;
$button-secondary-hover-bg: $_primary-iris;
$button-secondary-hover-border: $_primary-iris;

$experience-item-card-border: $_secondary-gunmetal;
$experience-item-card-bg: rgba(255,255,255,.03);
$experience-item-card-text-description: $_secondary-blue-label;
$experience-item-card-text-time: $_secondary-blue-label;
$experience-item-line-history: $_secondary-davys-grey;
$experience-item-ellipse-bg: $_primary-iris;
