$font-family: 'Roboto', sans-serif;

// Typography scale
$fs-base: 16;

$_fs-12: calc(12 / $fs-base) + rem;
$_fs-14: calc(14 / $fs-base) + rem;
$_fs-16: calc(16 / $fs-base) + rem;
$_fs-18: calc(18 / $fs-base) + rem;
$_fs-20: calc(20 / $fs-base) + rem;
$_fs-24: calc(24 / $fs-base) + rem;
$_fs-30: calc(30 / $fs-base) + rem;
$_fs-48: calc(48 / $fs-base) + rem;

$fs-btn: $_fs-16;

$fs-badge-pill: $_fs-12;
$fs-title-1: $_fs-48;
$fs-title-2: $_fs-30;
$fs-title-3: $_fs-24;
$fs-title-4: $_fs-20;
$fs-title-5: $_fs-18;
$fs-experience-item-card-text-description: $_fs-16;
$fs-experience-item-card-time: $_fs-14;
$fs-subtitle: $_fs-20;
$fs-card-subtitle: $_fs-18;
$fs-header-text: $_fs-14;
$fs-footer-text: $_fs-14;
