@use  "../settings/variables";

h1,
h2,
h3, 
h4 {
  font-weight: 700;
  margin:0;
}

h1 {
  font-size: variables.$fs-title-1;
  font-weight: 700;
  line-height: 3.5rem;
}

h2 {
  font-size: variables.$fs-title-2;
  line-height: 2.18rem;
}

h3 {
  font-size: variables.$fs-title-3;  
  line-height: 1.43rem;
}

h4 {
  font-size: variables.$fs-title-4;  
  line-height: normal;
}

h5 {
  font-size: variables.$fs-title-5;  
  font-weight: 300;
  line-height: normal;
}